# Build outputs
build/
cmake-build*/

# Pico artifacts
*.uf2
*.bin
*.elf
*.hex
*.map
*.dis

# CMake intermediate
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# IDE
.vscode/
.idea/

# OS noise
.DS_Store
Thumbs.db
